#wrapper {
    min-height: 100%;
    position: relative;
    &:after{
        content: "";
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        opacity:0.8;
    }
    &.night{
        &:after{
        background-image: url(../images/bg_night.jpg);
        opacity: 1;
        }
        .navcont{
            background: rgba(0,0,0,0.3);
        }
    }
    &.dawn{
        padding-bottom: 80px;
        &:after{
           background-image: url(../images/bg_dawn.jpg); 
        }
        .navcont{
            background: rgba(41,142,232,0.5);
        }
    }
    &.noon{
        &:after{
           background-image: url(../images/bg_noon.jpg); 
        }
       .navcont{
            background: rgba(0,146,101,0.5);
        }
    }
    &.dusk{
        &:after{
            background-image: url(../images/bg_dusk.jpg);
        }
       .navcont{
            background: rgba(255,108,75,0.5)
        }
    }
    .commentbox {
        background: url(../images/img_comment.png) no-repeat 30px 50px rgba(255,255,255,0.2);
        padding: 25px 25px 25px 125px;
        margin: 50px auto;
        @media (#{$xs}){
            background-image: none;
            padding: 25px;
            margin-top: 15px;
        }
        &.nomar{
            margin-bottom: 0px;
            height: 100%;
        }
        &.noimg{
            background-image: none;
            padding: 35px;
            @media (#{$sm}){
                padding: 30px;
            }
        }
        .toolsdiv{
            display: flex;
            justify-content: center;
            align-items: bottom;
            flex-wrap: wrap;
            margin-bottom: 20px;
            vertical-align: bottom;
            > div{
                display: flex;
                flex-wrap: wrap;
                flex-direction:row;
                align-content:flex-end;
                align-items: bottom;
                width: 100px;
                height: 160px;
                margin: 10px;
                @media (#{$sm}){
                    width: 70px;
                }
                p{
                    width: 100%;
                    &:nth-child(2){
                        background-color:rgba(0,146,101,0.5);
                    }
                }
                img{
                     -webkit-filter: drop-shadow(2px 2px 2px #222);
                    filter: drop-shadow(2px 2px 2px #222);
                    width: 100%;
                }
            }
        }
        .resume{
            > div {
                padding-bottom: 20px;
            }
        }
        .sidebar{
            padding-bottom: 25px;
            .profilephoto{
                img{
                    max-width: 100px;
                }
            }
            p{
                position: relative;
                margin-bottom: 20px;
            }
            span:nth-child(2){
                position: absolute;
                left:0;
                margin-left: 30px;
                @media (#{$sm}){
                    position: static;
                    margin: auto;
                }
            }
        }
    }
    .feature{
        text-align: center;
        border: 10px solid rgba(255,255,255,0.3);
        position: relative;
        width: 100%;
        border-radius: 999px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        margin: auto;
        height: 250px;
        width: 250px;
        @media (#{$md}){
            height: 200px;
            width: 200px;
        }
        @media (#{$sm}){
            border: 0px;
            box-shadow:0px 0px 0px;
            border-radius: 0px;
            width: auto;
            height: auto;
        }
        display: flex;
        >div{
            display: inline-block;
            padding-top: 25%;
            width: 100%;
            @media (#{$sm}){

            }
        }
    }
    .header {
        padding-top: 260px;
        margin-bottom: 30px;
        @media (#{$xs}){
           padding-top: 100px;
            margin-bottom: 0px; 
        }
    }
    .skybox {
        position: relative;
        z-index: 11;
        .sky {
            width: 1000px;
            height: 1000px;
            left: 50%;
            margin-left: -500px;
            margin-top: -305px;
            position: fixed;
            top: 0px;
            background: url(../images/img_striperadial.png) no-repeat;
            z-index: 11;
            @media (#{$xs}){
                background-size: cover;
                height: 500px;
                margin-left: -250px;
                margin-top: -145px;
                width: 500px;
            }
        }
        .sunmoon {
            position: fixed;
            top: 85px;
            left: 50%;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            z-index: 11;
            @media (#{$xs}){
                width: 100px;
                top: 55px;
                margin-left: -50px;
            }
            img {
                position: absolute;
                @media (#{$xs}){
                    width: 100px;
                }
            }
        }
    }
    .body1bg {
        position: relative;
        overflow-x: hidden;
        height: 100%;
        .seasonbox {
            position: relative;
            z-index: 12;
            padding-top: 60px;
        }
    }
    .stars {
        background: url(../images/stars.png) no-repeat center top;
    }
    
    
    .absoproj {
        position: absolute;
        top: 0;
        left: 0;
    }
    .link {
        padding: 10px;
    }

    .more {
        padding-top: 5px;
        font-weight: bold;
    }
    .whatidodesc {
        background: url(../images/bg_whatidodesc.png) top repeat-x;
        padding: 15px;
        margin-bottom: 30px;
    }
    .whatidodesc .container {
        max-width: 950px;
    }
    .v2 {
        font-size: 50px;
    }
    .skillset .container {
        max-width: 950px;
        padding: 20px;
    }
    .skills {
        text-align: center;
    }
    .city {
        background: url(../images/bg_city.gif) repeat-x center center;
        z-index: 1;
        height: 524px;
        margin-top: -262px;
        top: 50%;
        position: absolute;
        width: 100%;
    }
    .aboutme {
        background: url(../images/bg_aboutmedesc.png) top repeat-x;
        padding: 20px 15px;
        margin-bottom: 30px;
    }
    .face {
        padding: 0px 20px 0px 0px;
    }

    footer {
        bottom: 0;
        text-align: center;
        font-size: 12px;
        padding-top: 60px;
    }
    @media (#{$xs}){
        .logo1 {
            display: none;
        }
        .logo2 {
            display: block;
            margin-left: 10px;
        }
        nav {
            padding: 0px;
            text-align: right;
        }
        .absoimg2 {
            left: -6px;
        }
        .slider {
            height: 175px;
        }

    }
}