.navcont{
	height:60px;
	position:fixed;
	top:0;
	z-index:100;
	width:100%;
}
.logo{
	margin-top: 5px;
	position:absolute;
	z-index:101;
}
nav{
	padding:0 0 0 260px;
	width:auto;
	text-align:right;
	min-width:570px;
	position:relative;
	z-index:100;
	@media (#{$md}){
		padding:0 0 0 60px;
	}
	@media (#{$sm}){
		min-width: 263px;
	}
	ul{
		padding:0px;
		margin:0px;
		li{
			display:inline;
			vertical-align:top;
			a{
				font-weight:normal;
				font-size:17px;
				font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
				display:inline-block;
				text-align:left;
				position:relative;
				text-transform: uppercase;
				z-index:999;
				margin:19px 25px 0 60px;
				text-shadow: 1px 1px 1px #000;
				padding-bottom: 2px;
				&:hover, &:active, &:focus, &.active{
					color:#fff !important;
					text-decoration:none;
					border-bottom: 2px solid #ddd;
				}
				@media (#{$md}){
					margin:19px 15px 0 15px;
					font-size:15px;
				}
				@media (#{$sm}){
					margin:19px 10px 0 10px;
				}
				@media (#{$xs}){
					margin:22px 7px 0 7px;
					font-size:12px;
				}
			}
		}
	}
}
@media (#{$sm}){
    .logo1 {
        display: none;
    }
    .logo2 {
        display: block;
    }
}
@media (#{$gsm}){
.logo2 {
        display: none;
    }
}