/* SLIDER STYLE */
.slide {
  top: 0 !important;
}
.slider{
	max-width:1000px;
	margin:auto;
	margin-top:260px;
	height:330px;
	position:relative;
  min-height: 250px;
  img{
    position:absolute;
    width: 100%;
    height: auto;
  }
}
