$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./sass/variables.scss";

$color: white;

body{
	background: $color;
	@media (min-width: $md){
		background: gray;
	}
	.starter-template {
		margin-top: 40px;
    padding: 40px 15px;
    text-align: center;
	}
}