$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./sass/variables.scss";
@import "./sass/navigation.scss";
@import "./sass/typography.scss";
@import "./sass/layout.scss";
@import "./sass/slider.scss";
@import "./sass/animate.scss";

html,
body,
#root{
  height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #000;
}
